body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  padding: 1rem;
  font-size: large;
  cursor: pointer;
}

a {
  color: inherit;
}

.sidetab {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 100%;
  color: #858585;
  font-size: 34px;
  background-color: #333333;
}

@media (max-width: 736px) {
  .sidetab {
    display: none;
  }
}
